<div class="empower_sec">
    <div class="panel panel-default">
        <div class="panel-heading c-list">
            <span class="title">Empower</span>
            <ul class="pull-right c-controls">
                <li><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" title="Add new"><i class="fa fa-plus"></i>New</button></li>
            </ul>
        </div>
        <div class="input-group c-search">
            <input type="text" class="form-control" id="contact-list-search">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
            </span>
        </div>
        <!-- Tabs -->
        <ul class="nav nav-tabs cus-tabs">
            <li class="active"><a data-toggle="tab" href="#relevant">Relevant</a></li>
            <li><a data-toggle="tab" href="#favorite">Favorite</a></li>
            <li><a data-toggle="tab" href="#recent">Recent</a></li>
        </ul>
        <!-- Tab content -->
        <div class="tab-content">
            <div id="relevant" class="tab-pane fade in active">
                <ul class="list-group" id="contact-list">
                    <li class="list-group-item">
                        <div class="icon-group pull-left">
                            <span class="fa fa-link"></span>
                            <span class="name"><a href="#">Title Text</a></span>
                        </div>
                        <div class="ext-icons pull-right">
                            <span class="fa fa-share-alt"></span>
                            <span class="fa fa-external-link"></span>
                        </div>
                        <div class="clearfix"></div>
                         <p class="c-info">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>    
                        
                    </li>
                    <li class="list-group-item">
                       
                            <div class="icon-group pull-left">
                                <span class="fa fa-file-video-o"></span>
                                <span class="name"><a href="#">Title Text</a></span>
                            </div>
                            <div class="ext-icons pull-right">
                                <span class="fa fa-share-alt"></span>
                                <span class="fa fa-external-link"></span>
                            </div>
                            <div class="clearfix"></div>
                            <p class="c-info">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                            
                        
                        
                    </li>
                    <li class="list-group-item">        
                       <div class="icon-group pull-left">
                            <span class="fa fa-files-o"></span>
                            <span class="name"><a href="">Title Text</a></span>
                        </div>
                        <div class="ext-icons pull-right">
                            <span class="fa fa-share-alt"></span>
                            <span class="fa fa-external-link"></span>
                        </div>
                        <div class="clearfix"></div>
                        <p class="c-info">Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation.</p>
                        
                    </li>
                    <li class="list-group-item">
                        
                            <div class="icon-group pull-left">
                                <span class="fa fa-link"></span>
                                <span class="name"><a href="">Title Text</a></span>
                            </div>
                            <div class="ext-icons pull-right">
                                <span class="fa fa-share-alt"></span>
                                <span class="fa fa-external-link"></span>
                            </div>
                            <div class="clearfix"></div>
                            <p class="c-info">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                            
                        
                        
                    </li>
                    <li class="list-group-item">
                        
                            <div class="icon-group pull-left">
                                <span class="fa fa-link"></span>
                                <span class="name"><a href="">Title Text</a></span>
                            </div>
                            <div class="ext-icons pull-right">
                                <span class="fa fa-share-alt"></span>
                                <span class="fa fa-external-link"></span>
                            </div>
                            <div class="clearfix"></div>
                            <p class="c-info">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                            
                        
                        
                    </li>
                    <li class="list-group-item">
                        
                            <div class="icon-group pull-left">
                                <span class="fa fa-link"></span>
                                <span class="name"><a href="">Title Text</a></span>
                            </div>
                            <div class="ext-icons pull-right">
                                <span class="fa fa-share-alt"></span>
                                <span class="fa fa-external-link"></span>
                            </div>
                            <div class="clearfix"></div>
                            <p class="c-info">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                            
                        
                        
                    </li>
                </ul>
            </div>
            <div id="favorite" class="tab-pane fade">
                Favorite content comes here
            </div>
            <div id="recent" class="tab-pane fade">
                Recent content comes here
            </div>
        </div>
        <!-- Tab content -->
    </div>
</div>