<router-outlet>
  <!-- <div class="row">
    <div class="col-sm-4">
       
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
       
    </div>
  </div> -->
  <div class="main_section">
      <div class="main_left">
  <app-user-charts-list></app-user-charts-list>
  <app-user-chat-active></app-user-chat-active>
  </div>
  <!-- <a (click)="toggleTitle()" class="empower_action"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a> -->
  <app-empower-activities></app-empower-activities>
  <div class="clearfix"></div>
  </div>


  
</router-outlet>
