<div class="sidebar">
  <div class="top_header">
    <div class="profile_block">
      <div class="user_profile">
        <a>
          <img src="../../../../assets/download.jpg" alt="img" />
          <span>{{ userInfo.name }}</span>
        </a>
      </div>
      <ul class="list-unstyled pull-right">
        <li [ngClass]="{ show_sec: isClassVisible }" class="dropdown">
          <a
            (click)="styleAdd()"
            class="dropdown-toggle"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-h"></i
          ></a>
          <div
            (mouseleave)="leave($event)"
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
          >
            <a class="dropdown-item "
              ><span class="staus_icon_online"></span>Online</a
            >
            <a class="dropdown-item"
              ><span class="staus_icon_offline"></span>Offline</a
            >
            <a class="dropdown-item"
              ><span class="staus_icon_busy"></span>Busy</a
            >
            <a class="dropdown-item"
              ><span class="staus_icon_unavailable"></span>Unavailable</a
            >
            <a class="dropdown-item test" (click)="logout()"
              ><b
                ><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</b
              ></a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="search_block">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input
            type="text"
            placeholder="Search here..."
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keypress)="autoPopulate()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of (flightSrcFilteredOptions | async)"
              [value]="option.name"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- (onSelectionChange)="selected(option)" -->
      </form>
    </div>
    <div class="social_icons">
      <ul class="list-unstyled">
        <li class="active">
          <a
            ><i class="fa fa-commenting-o" aria-hidden="true"></i
            ><span>Chats</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-phone" aria-hidden="true"></i><span>Calls</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-address-book" aria-hidden="true"></i
            ><span>Contacts</span></a
          >
        </li>
        <li>
          <a
            ><i class="fa fa-bell" aria-hidden="true"></i
            ><span>Notification</span></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="inbox_chat">
    <div class="chat_list">
      <a class="main_list">Channels </a>
      <ul class="list-unstyled">
        <li *ngFor="let group of groupList[0]">
          <a (click)="onClickChannel(group._id, typeList[0], group.usersCount)">
            <div class="chat_con">
              <h6>
                <i class="fa fa-television"></i> {{ group.name | titlecase }}
              </h6>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="chat_list">
      <a class="main_list">Private Groups </a>
      <ul class="list-unstyled">
        <li *ngFor="let group of groupList[1]">
          <a (click)="onClickChannel(group._id, typeList[1], group.usersCount)">
            <div class="chat_con">
              <h6><i class="fa fa-group"></i> {{ group.name | titlecase }}</h6>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="chat_list">
      <button
      type="button"
      class="btn btn-primary main_list"
      data-toggle="modal"
      data-target="#myModal"
      title="Add new"
      (click)="openModel()"
    >
      <i class="fa fa-plus"></i>New Channel
    </button>
    </div>
   
    <div class="chat_list dir_msg">
      <a class="main_list">Direct Messages</a>
      <ul class="list-unstyled">
        <li *ngFor="let group of groupList[2]">
          <a (click)="directTest(group);">
            <div class="chat_con">
              <h6>{{ group.usernames[1] | titlecase }}</h6>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="backdrop" [ngStyle]="{ display: display }"></div>

<div
  class="{{ modalClass }}"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: display }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading c-list">
              <span class="title">New Channel</span>
              <ul class="pull-right c-controls">
                <li class="closeBtn">
                  <button
                    class="btn"
                    type="button"
                    data-dismiss="modal"
                    (click)="closeModel()"
                  >
                    <i class="fa fa-close"></i>
                  </button>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-xs-6 new-title"><p class="">New Channel</p></div>
            </div>
            <div class="panel-body">
              <form
                novalidate
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit(loginForm.value)"
              >
                <div class="input-group login-userinput">
                  <label for="name"> Channel Name </label>
                  <input
                    id="txtUser"
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Channel Name"
                    formControlName="name"
                    (click)="hideError()"
                    
                  />
                </div>
                <div
                  class="error_msg"
                  *ngIf="
                    loginForm.get('name').touched &&
                    loginForm.get('name').hasError('required')
                  "
                >
                Channel Name is required.
                </div>
                <div class="input-group login-userinput">
                  <label for="users"> Invite Users </label>
                  <ng-multiselect-dropdown
                  name="members"
                  [placeholder]="'------------------Select Users-------------------'"
                  [data]="users"
                  formControlName="members"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                 >
                  </ng-multiselect-dropdown>
                </div>
                <div
                  class="error_msg"
                  *ngIf="
                    loginForm.get('members').touched &&
                    loginForm.get('members').hasError('required')
                  ">
                  members is required.
                </div>
                <br />
                <button class="btn btn-primary  login-button">Create</button>
                <div class="error_msg" *ngIf="invalidCredentials == true" >
                  * Fields are mandatory
                </div>
                <br />
                <!-- <input 
                id="txtmembers"
                type="members"
                class="form-control"
                name="members"
                placeholder="members"
                formControlName="members"
                (click)="hideError()"
                (keypress)="eventHandler($event)"
              /> -->
                <div class="user_search" [ngStyle]="{ display: userDisplay }">
                  <ul class="list-unstyled">
                    <li  *ngFor="let group of users">
                      <!-- <a (click)="onClickChannel1(group._id, typeList[2], group.names)"> -->
                       
                         <a (click)="userSelect(group)"><span class="users_list" >{{ group.name}}</span></a> 
                     
                     
                    </li>
                  </ul>
                </div>
              </form>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.modal !-->
