
<div class="sidebar">
    <div class="top_header">
        <div class="profile_block">
            <ul class="list-unstyled">
                <li class="user_profile">
                    <a href="#">
                    <img src="../../../../assets/download.jpg" alt="img">
                    <span>{{userInfo.name}}</span>
                </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-ellipsis-h"></i></a>
                </li>
            </ul>
        </div>
        <div class="search_block">
            <div class="form-group">
                <input type="text" placeholder="Search.." name="search" class="form-control">
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="social_icons">
            <ul class="list-unstyled">
                <li class="active"><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i><span>Chats</span></a></li>
                <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span>Calls</span></a></li>
                <li><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i><span>Contacts</span></a></li>
                <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i><span>Notification</span></a></li>
            </ul>
        </div>
    </div>
    <div class="inbox_chat">
        <div class="chat_list">
            <a href="#" class="main_list">Channels </a>
            <ul class="list-unstyled">
                <li *ngFor="let group of groupList[0]">
                    <a href="#">
                     
                        <div class="chat_con">
                            <h6># {{group.name}}</h6>
                        </div>
                </a></li>
                
            </ul>
        </div>
        <div class="chat_list">
                <a href="#" class="main_list">Private Groups </a>
                <ul class="list-unstyled">
                    <li *ngFor="let group of groupList[1]">
                        <a href="#">
                         
                            <div class="chat_con">
                                <h6># {{group.name}}</h6>
                            </div>
                    </a></li>
                    
                </ul>
            </div>
        <div class="chat_list dir_msg">
            <a href="#" class="main_list">Direct Messages</a>
            <ul class="list-unstyled">
                <li><a href="#">
                
                <div class="chat_con">
                    <h6 class="active">Kiran</h6>
                </div>
                </a></li>
                <li>
                    <a href="#">
                        
                        <div class="chat_con">
                            <h6 class="active">Swetha</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="chat_con">
                            <h6>Kalpana</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="chat_con">
                            <h6>Arun</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        
                        <div class="chat_con">
                            <h6 class="active">Naveen</h6>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
