
<div class="content">
    <div class="profile_content">
        <div class="arrow_icon">
            <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        </div>
        <div class="user_profile">
            <a href="#">
            <img src="../../../../assets/girl_img.png" alt="img">
            <p>{{titleMenu.name}} 
            <span>0 Messages</span></p>
        </a>
        </div>
        <div class="social_block">
            <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                <li><a href="#" class="empower_btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="chat_content">
        <ul>
        <li *ngFor="let item of messagesList" class={{returnChatCss(item.u._id)}}>
            <img src="../../../../assets/download.jpg" alt="img">
            <p> {{item.msg}}
            </p>
            <span>{{item.ts | date}}</span>
        </li>
    </ul>
    </div>
    <div class="bottom_content">
        <div class="form-group">
            <textarea  class="form-control">Type a message here..</textarea>
            <!-- <input type="text" placeholder="Type a message here.." name="search" class="form-control"> -->
            <button type="submit" class="btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

