
<div class="content">
    <div class="profile_content">
        <div class="arrow_icon">
            <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        </div>
        <div class="user_profile">
            <a href="#">
            <img src="../../../../assets/girl_img.png" alt="img">
            <p>Kalpana <span>0 Messages</span></p>
        </a>
        </div>
        <div class="social_block">
            <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                <li><a href="#" class="empower_btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="chat_content">
        <div class="message_block msg_left">
            <img src="../../../../assets/download.jpg" alt="img">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_right">
            <img src="../../../../assets/girls-profile.jpg" alt="img">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_left">
            <img src="../../../../assets/download.jpg" alt="img">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_right">
            <img src="../../../../assets/girls-profile.jpg" alt="img">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_left">
            <img src="../../../../assets/download.jpg" alt="img">
            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_right">
            <img src="../../../../assets/girls-profile.jpg" alt="img">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_right">
            <img src="../../../../assets/girls-profile.jpg" alt="img">
            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_left">
            <img src="../../../../assets/download.jpg" alt="img">
            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
            <span>8:40 AM, Today</span>
        </div>
        <div class="message_block msg_right">
            <img src="../../../../assets/girls-profile.jpg" alt="img">
            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
            <span>8:40 AM, Today</span>
        </div>
    </div>
    <div class="bottom_content">
        <div class="form-group">
            <textarea  class="form-control">Type a message here..</textarea>
            <!-- <input type="text" placeholder="Type a message here.." name="search" class="form-control"> -->
            <button type="submit" class="btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

