/* You can add global styles to this file, and also import other style files */
/* @import './styles/bootstrap-3.3.7-dist/css/bootstrap.min.css'; */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ctrl/ngx-emoji-mart/picker";
*{
	padding: 0;
	margin: 0;
}
html,body{
	min-height: 100vh;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
a{
	text-decoration: none !important;
}
.sidebar{
	width:300px;
	position: absolute;
	background: #f7f7f7;
    min-height: 100vh;
    border-right:1px solid #f1f1f1;
}
.list-unstyled{
	list-style: none;
	padding: 0;
	margin: 0;
}
.top_header{
	padding:10px 10px;
	border-bottom: 1px solid #f1f1f1;
}
.profile_block{
	margin-bottom: 12px;
}
.profile_block ul {
	display: inline-block;
	margin-top: 10px;
	
}
.profile_block ul li{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.profile_block ul li a{
	color: #333;
	display: block;
}
.profile_block ul li a i{
	font-size: 16px;
}
.profile_block .dropdown-menu{
	left: auto;
	right: 0;
}
.profile_block .user_profile{
	display: inline-block;
}
.dropdown-menu .dropdown-item{
    padding: 0 10px;
    font-size: 13px;
    margin-bottom: 5px;
}
.user_profile a {
    display: flex;
}
.show_sec .dropdown-menu{
    display:block;
    cursor: pointer;
    padding-top: 10px;
  
}
.user_profile a img{
	width:35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}
.user_profile a span{
	line-height: 35px;
	font-weight: 600;
}
.form-control{
	display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px 4px 4px 0px;
}
.search_block .form-group{
	display: flex;
	margin-bottom: 10px;
}
.search_block .btn{
    box-shadow: none;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-left: none;
}
.social_icons ul{
	display: table;
	width:100%;
}
.social_icons ul li{
	display: table-cell;
	width:13%;
}
.social_icons ul li:hover a,.social_icons ul li.active a{
	color: #337ab7;
}
.social_icons ul li a{
	color: #a7a4a4;
	text-align: center;
	display: block;
}
.social_icons ul li a i{
	font-size: 16px;
	margin-bottom: 8px;
}
.social_icons ul li a span{
	display: block;
	font-size: 12px;
}
.content{
	width: 100%;
	padding-left:300px;
	background: #fff;
	min-height: 100vh;
}
.inbox_chat{
	
	max-height: calc(100vh - 153px);
    overflow-y: auto;
    padding: 15px 0;
}

.chat_list .main_list{
	position: relative;
	display: block;
	color: #333;
	font-weight: 600;
	text-decoration: none;
	margin:0 15px;
}
.chat_list ul li{
	padding: 5px 15px;
}
.chat_list ul li a{
	color: #fff;
}
.chat_list .main_list:after{
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    border: 1px solid #999;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 9px;
    line-height: 14px;
    color: #999;
    top: 3px;
}
.chat_list{
	margin-bottom: 10px;
}
.chat_list ul{
	padding: 5px 0 10px 0;
}
.chat_list ul li:hover,.chat_list ul li.active{
	background: #c7edfc;
}
.chat_list ul li a{
	text-decoration: none;
	display: flex;
}
.chat_list ul li a img{
	width:22px;
	height: 22px;
	border-radius: 50%;
	position: relative;
	top:6px;
}
.chat_con{
	color: #333;	
}
.chat_con h6{
	font-size: 13px;
    font-weight: normal;
    margin: 0;

}
.chat_con p{
	text-overflow: ellipsis;
    max-width: 268px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}
.dir_msg ul li h6{
	position: relative;
	padding-left: 15px;
}
.dir_msg ul li h6:before{
	position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
     left: 0;
    top: calc(50% - 4px);
    background: #aaa;
}
.dir_msg ul li h6.active:before{
	
    background: #38978D;
   
}
.profile_content{
	display: table;
	padding: 11px 15px 3px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    box-sizing: border-box;
    background: #fff;
}
.profile_content .user_profile{
	float: left;
}
.profile_content .user_profile a img{
	width:35px;
	height:35px;
}
.profile_content .user_profile a p{
	color: #333;
    font-weight: 600;
    margin-top: 0px;
}
.profile_content .user_profile a p span{
	display: block;
	line-height: normal;
	font-size: 11px;
	color: #bcb2b2;
	margin-top:2px;
}
.social_block {
	float: right;
	padding-top:0px;
}
.social_block ul{
	display: inline-block;
}
.social_block ul li{
	display: inline-block;
	margin-right: 5px;
}
.social_block ul li:last-child{
	margin-right: 0;
}
.social_block ul li a{
	border-radius: 50%;
	width:35px;
	height: 35px;
	background: #eee;
	line-height: 35px;
	text-align: center;
	color: #666;
	display: block;
	font-size: 14px;
}
.chat_content{
	padding:15px;
	overflow-y: auto;
    max-height: calc(100vh - 128px);
    min-height: calc(100vh - 128px); 
    display: flex;
    flex-direction: column-reverse;
}
.chat_height{
    position: fixed;
    bottom: 0px;
    width: 38%;
}
.message_block{
	display: table;
	width:100%;
	margin-bottom: 5px;
}
.message_block img{
	width:40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
	float: left;

}
.message_block p{
	background: #253341;
    border-radius: 5px;
    color: #333;
    padding: 10px;
    max-width: 300px;
    font-size: 13px;
    line-height: 16px;
    float: left;
    font-weight: normal;
    margin-bottom: 0;
}
.message_block span{
	display: block;
    clear: both;
   	font-size: 12px;
    padding-top: 3px;
}
.msg_right img{
	float: right;
	margin-left: 5px;
	margin-right:0;
}
.msg_right p{
	float: right;
	background: #e5f5fb;
}
.msg_right span{
	 margin-right: 50px;
	 text-align: right
    	
}
.msg_left img{
	float: left;
	margin-left: 0px;
	margin-right:5px;
}
.msg_left p{
	float: left;
	background: #f6f6f7;
}
.msg_left span{
	 margin-left: 50px;
    
}
.bottom_content{
    margin-top: 0px;
}
.bottom_content .form-group{
	display: flex;
	width: 100%;
	margin-bottom: 0;
	border: 2px solid grey;
	align-items: center;
}
.bottom_content .form-group .form-control{
	
    border-radius: 2px;
    background: #fff;
    font-size: 13px;
    height: 67px;
    resize: none;
    min-height: auto;
    max-height: 175px;

    overflow: auto !important;
}
.bottom_content .btn{
    box-shadow: none;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-left: none;
}
.borderNone{
    border: none !important
}
.bottom_content .form-group .btn{
	background: #f1f1f1;
    color: #435f7a;
    border-radius: 0;
    padding: 6px 15px;
    border: 1px solid #ddd;
    height: 50px;
}
.bottom_content .form-group a{
	padding: 6px 15px;
    text-align: center;
    background: #f1f1f1;
    color: #504e4e;
    font-size: 20px;
    border: 1px solid #ddd;
    border-left: none;
    height: 50px;
}
.bottom_content .form-group a i{
	line-height: 30px;
}
.main_left{
	float: left;
	/* width: 70%; */
	position: relative;
}
.empower_sec{
	float: right;
	width:37%;
}
.empower_sec .panel{
	margin-bottom: 0;
	border-color: #f1f1f1;
}
.side-xs .empower_btn{
	transform: rotate(180deg);
}
.side-xs .empower_sec,.side-empower .empower_sec{
	display: none;
}
.side-xs .main_left,.side-empower .main_left{
	float: none;
	width:100%;
}
.side-xs .message_block p,.side-empower .message_block p{
	max-width: 100%;
}
.tab-content{
	    max-height: calc(100vh - 146px);
	    overflow-y: auto;
}
.arrow_icon{
	float: left;
    margin-right: 15px;
    display: none;
}
.arrow_icon a{
	color: #333;
    font-size: 18px;
    margin-top: 8px;
    display: block;
}
.empower_action{
	position: absolute;
    top: calc(50% - 12px);
    right: -14px;
    background: #fff;
    color: #666 !important;
    padding: 0;
    font-size: 14px;
    z-index: 9;
    line-height: 22px;
    transform: rotate(180deg);
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
}
.empower_action:hover{
	background: #666;
	color: #fff !important;
}
.side-xs .empower_action{
	
	right:0;
}
.side-empower .empower_action{
	transform: rotate(0deg);
	right:0;
}
@media (max-width: 991px){
	.empower_sec{
		opacity: 0;
	    position: absolute;
	    right: -350px;
	    z-index: 9;
	    top: 0;
	    width: 350px;
	    ­-webkit-­transition: all 0.4s ease; 
	    ­-moz-­transition: all 0.4s ease; 
	    ­-o-­transition: all 0.4s ease; 
	    transition: all 0.4s ease;
	}
	.main_left{
		float: none;
		width:100%;
	}
	.side-xs .empower_sec{
	    right: 50px;
	    display: block;
	     ­-webkit-­transition: all 0.4s ease; 
    ­-moz-­transition: all 0.4s ease; 
    ­-o-­transition: all 0.4s ease; 
    transition: all 0.4s ease;
    opacity: 1;
	} 
	.side-empower .empower_sec{
	    right: 50px;
	    display: block;
	     ­-webkit-­transition: all 0.4s ease; 
    ­-moz-­transition: all 0.4s ease; 
    ­-o-­transition: all 0.4s ease; 
    transition: all 0.4s ease;
    opacity: 1;
	} 
}
@media (max-width: 767px){
	.sidebar{
		opacity: 0;
		left:-300px;
		 ­-webkit-­transition: all 0.4s ease; 
	     ­-moz-­transition: all 0.4s ease; 
	     ­-o-­transition: all 0.4s ease; 
	     transition: all 0.4s ease;
	}
	.content{
		padding-left: 0;
	}
	.message_block p{
		max-width: 230px;
	}
	.profile_content .user_profile a img{
		width:35px;
		height: 35px;
	}
	.profile_content .user_profile a p{
		margin-top:2px;
	}
	.social_block ul li a{
		width:26px;
		height: 26px;
		line-height: 26px;
		font-size: 12px;
	}
	.empower_sec{
		width:273px;
	}
	.side-xs .empower_sec{
		right:42px;
	}
	.side-empower .empower_sec{
		right:42px;
	}
	.arrow_icon{
		display: block;
	}
	.social_block{
		padding-top: 5px;
	}
	.profile_content{
		padding: 15px 15px 10px;
	}
	.side-left .sidebar{
		opacity: 1;
		  ­-webkit-­transition: all 0.4s ease; 
	     ­-moz-­transition: all 0.4s ease; 
	     ­-o-­transition: all 0.4s ease; 
	     transition: all 0.4s ease;
	     left:30px;
	}
}
/* custom css add here */
/*@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);*/



a {
    outline: 0;
}

.panel>.list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}

@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }

    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

#back-to-bootsnipp {
    position: fixed;
    top: 10px;
    right: 10px;
}

.c-search{
    width:100%;
}
.c-search>.form-control {
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    font-size: 1.3em;
    padding: 12px 12px;
    height: 38px;
    outline: none !important;
}

.c-search>.form-control:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none;
}

.c-search>.input-group-btn .btn {
    border-radius: 0px;
    border-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    height: 38px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #ccc;
}


.c-list {
    padding: 8px;
    min-height: 44px;
   

}

.c-list .title::before {
    content: url("../src/assets/bulb.png") !important;
    position: absolute;
    left: -12px;
    top: 8px;
}

.title {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #333;
    position: relative;
    
}
.saveBtn{
    margin-right: 10px;
}
.cus-tabs li,
.cus-tabs li a,
.cus-tabs li a:hover,
.cus-tabs li.active,
.cus-tabs li.active a,
.cus-tabs li.active a:hover {
    background: none;

}

.cus-tabs li a {
    border: none;
    font-weight: 700;
    color: #1b9575;
}

.cus-tabs li.active a {
    color: #1b9575 !important;
    border: none !important;
}

.cus-tabs li.active {
    border: none;
    border-bottom: 2px solid #1b9575 !important;
}

.list-group {
    padding:0 10px;
}



.icon-group span {
    font-size: 14px;
    padding: 6px 3px 6px 0;
    color: #7f7f7f;
}

.name a {
    font-size: 13px;
}

.ext-icons {
   /* position: absolute;
    right: 0;
    top: 0*/
}

.ext-icons span {
    color: #1b9575;
    padding: 6px 8px;
    font-size: 14px;
}

ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 5px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;
    cursor: pointer;
}

ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
    color: #fff;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}
.c-controls .btn{
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 3px;
}
.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.c-info {
    padding:0px 10px 0 0;
    font-size: 13px;
    margin-bottom: 0;
}

.list-group {}

.list-group-item,
.new-details {
    box-shadow: none;
    margin-bottom:5px;
}
.list-group-item{
    padding: 5px 5px;
    margin-bottom: 0;
    border:none;
    
}
.list-group-item:last-child{
    border-bottom: none;
}
/*buttons*/
.btn {
    text-transform: uppercase;
}

.btn-primary,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #1b9575;
    border-color: #1b9575;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
   background-color: #1b9575; 
}

/*New-page*/

.new-title {
    padding: 5px 10px 0 15px;
}

.new-title p {
    padding: 10px 0 0 15px;
    font-size: 18px;
    font-weight: 400;
}

.btns {
    padding: 15px;
    text-align: right;
    margin: 0 -15px;
}

hr{
    margin-left: -15px;
    margin-right: -15px;
}

.new-details {

    margin: 0 auto 20px;
    float: none !important;
    padding: 15px;
    width: 88%;
    clear: both;

}

.modal-content .panel{
    margin-bottom: 0px !important;
}

.fa-plus{
    padding-right: 10px;
}

/* layout.css Style */
.upload-drop-zone {
    height: 80px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #7844a7;
    border-style: dashed;
    border-color: #a1aed4;
    line-height: 80px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.heading {
    padding: 0px 15px;
}

/*Search*/



#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 10px 5px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #444;
}

.search-query:focus+button {
    z-index: 3;
}

/*Search end*/

/*name-list*/

.name-list {
    padding: 10px 5px;
}

.name-list .btn{
    text-transform: none !important;
    padding: 3px 10px;
    border-radius: 50px; 
}

.name-list .btn .fa-close{
    padding-left: 10px;
}
.minmize-arrow{
    position: absolute;
    z-index: 1000;
    top: 50%;
    width: 20px;
    background-color: #eee;
    padding: 2px;
    border-radius: 18px;
}
.error_msg{
    color: red;
}
#showPassword .btn{
    border: 1px solid #ccc !important;
}
/* popup styles */
.search_popup{
    width: 320px;
    margin: 0 auto;
}
.search_popup h4{
    margin-bottom: 25px;
}
.search_popup p{
    margin-bottom: 15px;
}
.chat_search label{
    width:100%;;
}
.chat_search ul li{
    display: block;
}
.chat_search ul li img{
    width: 40px;
    height: 40px;
}
.chat_search ul li p{
    display: inline-block;
    vertical-align: top;
    padding-left:15px;
}
.chat_search ul li p span{
    margin-right:5px;
}
.chat_search ul li p span.msg_text{
    display: block;
}
.chat_search ul li:hover p{
    background: #c7edfc;
    cursor: pointer;
}
/* scroll bar css */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

 .new-details .mat-form-field{
     display: block
 }
 .custom_upload .content{
     background: none;
     min-height: auto;
    padding: 0;
 }
 .toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-left {
    top: 12px;
    left: 12px;
  }
  .toast-top-right {
    top: 12px;
    right: 12px;
  }
  .toast-bottom-right {
    right: 12px;
    bottom: 12px;
  }
  .toast-bottom-left {
    bottom: 12px;
    left: 12px;
  }
  
  /* toast styles */
  .toast-title {
    font-weight: bold;
  }
  .toast-message {
    word-wrap: break-word;
  }
  .toast-message a,
  .toast-message label {
    color: #FFFFFF;
  }
  .toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
  }
  .toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
  }
  .toast-close-button:hover,
  .toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
  }
  /*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/
  button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
  }
  .toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
  }
  .toast-container * {
    box-sizing: border-box;
  }
  .toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
  }
  .toast-container .toast:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
  .toast-info {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
  .toast-error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
  .toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
  }
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
  .toast-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
  }
  .toast-container.toast-top-center .toast,
  .toast-container.toast-bottom-center .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .toast-container.toast-top-full-width .toast,
  .toast-container.toast-bottom-full-width .toast {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .toast {
    background-color: #030303;
    pointer-events: auto;
  }
  .toast-success {
    background-color: #51A351;
  }
  .toast-error {
    background-color: #BD362F;
  }
  .toast-info {
    background-color: #2F96B4;
  }
  .toast-warning {
    background-color: #F89406;
  }
  .toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
  }
  /* Responsive Design */
  @media all and (max-width: 240px) {
    .toast-container .toast.div {
      padding: 8px 8px 8px 50px;
      width: 11em;
    }
    .toast-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
  }
  @media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container .toast.div {
      padding: 8px 8px 8px 50px;
      width: 18em;
    }
    .toast-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
  }
  @media all and (min-width: 481px) and (max-width: 768px) {
    .toast-container .toast.div {
      padding: 15px 15px 15px 50px;
      width: 25em;
    }
  }
  .user_search{
    background: aliceblue;
    width: 25%;
    position: absolute;
    bottom: 45px;
}
.user_search >ul > li{
    padding: 5px;
    display: block;
}
.user_search >ul > li:hover{
    background-color: #a1aed4;
    cursor: pointer;
}